
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper" style="padding-top:50px; display: block; background-size: 100% 100%; min-height: 600px; margin: 0; background-image: url('/static/assets/images/admin-bg.jpg')">
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" style="min-height: calc(100vh - 380px)">
        <!-- ============================================================== -->
        <!-- Overview, Visits, Sales, Order -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12 col-lg-12" style="display: flex; align-items: center; justify-content: center">
                <div class="card" style="min-width: calc(480px) ;max-width: 600px; border-radius: 12px">
                    <div class="card-body">
                        <div  id="formTitle" class="col-xs-12" style="text-align: center;  margin: 0 -15px 10px -15px; padding-bottom: 5px;
                            width: calc(100% + 30px);
                            box-shadow: 0px 5px 12px -8px #333 ">
                            {% if code == '404' %}
                            <h1 class="danger">
                                Login Failed
                            </h1>
                            {% elif code == '403' %}
                            <h1>
                                Access Forbidden
                            </h1>
                            {% else %}
                            <h1>
                                Aktifkan Akun Sidomo CMS
                            </h1>
                            {% endif %}
                        </div>
                        <div id="formContainer">
                            {% if code == '404' %}
                            <p class="danger" style="width: 100%; text-align: center">
                                User ID/ Access Key yang Anda masukan salah
                            </p>
                            {% endif %}
                            {% if code == '403' %}
                            <p class="danger" style="width: 100%; text-align: center">
                                Akses tidak diijinkan
                            </p>
                            {% endif %}
                            <form method="post" id="loginForm">
                                {% csrf_token %}
                                <div class="col-xs-12" style="padding: 0 40px">
                                    {{ form.user_id.label }}
                                    {{ form.user_id }}
                                </div>
                                <div class="col-xs-12" style="padding: 0 40px">
                                    {{ form.access_key.label }}
                                    {{ form.access_key }}
                                </div>
                                <div class="col-xs-12" style="margin: 20px 0 0 0; padding: 0 40px">
                                    <p onclick="formLogin();" style="width: 100%;" class="btn btn-primary">Aktifkan</p>
                                </div>
                            </form>
                        </div>
                        <div id="gearContainer" class="hidden"  style="width: 100%;min-height: 260px">
                            <div  style="position: absolute; width: auto; height: auto; margin: auto">
                                <svg style="position: relative; top: 50px; left: 50px" 
                                    class='rotating' 
                                    width='120.85' 
                                    height='120.86' 
                                    viewBox='0 0 90.18 90.19' 
                                    xmlns='http://www.w3.org/2000/svg'>
                                    <path d='M3.12 27.45l6.93 6.96a36.62 36.62 0 0 0-.63 2.29L0 39.24v11.7l9.42 2.39a36.62 36.62 0 0 0 .63 2.28l-6.93 6.96L8.97 72.7l9.38-2.64a36.62 36.62 0 0 0 1.69 1.64l-2.53 9.48 10.14 5.85 6.83-7a36.62 36.62 0 0 0 2.34.63l2.42 9.52h11.7l2.59-9.57a36.62 36.62 0 0 0 2.16-.61l6.88 7.07 10.14-5.85-2.55-9.58a36.62 36.62 0 0 0 1.58-1.62l9.48 2.53 5.85-10.14-7.01-6.83a36.62 36.62 0 0 0 .6-2.22l9.53-2.42v-11.7l-9.51-2.57a36.62 36.62 0 0 0-.62-2.23l7-6.83-5.84-10.13-9.45 2.51a36.62 36.62 0 0 0-1.69-1.65l2.66-9.41L62.6 3.08 55.65 10a36.62 36.62 0 0 0-2.17-.6L50.94 0h-11.7l-2.37 9.35a36.62 36.62 0 0 0-2.36.64l-6.9-6.88-10.13 5.85 2.61 9.26a36.62 36.62 0 0 0-1.7 1.76l-9.42-2.66zm22.95 6.6A21.92 21.92 0 0 1 56 26.03a21.92 21.92 0 0 1 8.02 29.94 21.92 21.92 0 0 1-29.94 8.02 21.92 21.92 0 0 1-8.02-29.94z' fill='#0055d4'/>
                                    <path d='M31.13 32.8v12.14l7.97-6.73h-3.74l1-1H46.5L31.13 51.93v5.42h26.45l.14-12.4-8 6.98h3.1l-1 1H41.7L57.72 37.8v-5.02z' fill='#003380'/>
                                </svg>
                                <svg style="animation-direction: reverse; position: absolute; top: 20px; left: 20px" 
                                    class='rotating' 
                                    width='60.85' 
                                    height='60.86' 
                                    viewBox='0 0 90.18 90.19' 
                                    xmlns='http://www.w3.org/2000/svg'>
                                    <path d='M3.12 27.45l6.93 6.96a36.62 36.62 0 0 0-.63 2.29L0 39.24v11.7l9.42 2.39a36.62 36.62 0 0 0 .63 2.28l-6.93 6.96L8.97 72.7l9.38-2.64a36.62 36.62 0 0 0 1.69 1.64l-2.53 9.48 10.14 5.85 6.83-7a36.62 36.62 0 0 0 2.34.63l2.42 9.52h11.7l2.59-9.57a36.62 36.62 0 0 0 2.16-.61l6.88 7.07 10.14-5.85-2.55-9.58a36.62 36.62 0 0 0 1.58-1.62l9.48 2.53 5.85-10.14-7.01-6.83a36.62 36.62 0 0 0 .6-2.22l9.53-2.42v-11.7l-9.51-2.57a36.62 36.62 0 0 0-.62-2.23l7-6.83-5.84-10.13-9.45 2.51a36.62 36.62 0 0 0-1.69-1.65l2.66-9.41L62.6 3.08 55.65 10a36.62 36.62 0 0 0-2.17-.6L50.94 0h-11.7l-2.37 9.35a36.62 36.62 0 0 0-2.36.64l-6.9-6.88-10.13 5.85 2.61 9.26a36.62 36.62 0 0 0-1.7 1.76l-9.42-2.66zm22.95 6.6A21.92 21.92 0 0 1 56 26.03a21.92 21.92 0 0 1 8.02 29.94 21.92 21.92 0 0 1-29.94 8.02 21.92 21.92 0 0 1-8.02-29.94z' fill='#4499e4'/>
                                    <path d='M31.13 32.8v12.14l7.97-6.73h-3.74l1-1H46.5L31.13 51.93v5.42h26.45l.14-12.4-8 6.98h3.1l-1 1H41.7L57.72 37.8v-5.02z' fill='#003380'/>
                                </svg>
                                <svg style="animation-direction: reverse; position: absolute; top: 95px; left: -25px" 
                                    class='rotating' 
                                    width='90.85' 
                                    height='90.86' 
                                    viewBox='0 0 90.18 90.19' 
                                    xmlns='http://www.w3.org/2000/svg'>
                                    <path d='M3.12 27.45l6.93 6.96a36.62 36.62 0 0 0-.63 2.29L0 39.24v11.7l9.42 2.39a36.62 36.62 0 0 0 .63 2.28l-6.93 6.96L8.97 72.7l9.38-2.64a36.62 36.62 0 0 0 1.69 1.64l-2.53 9.48 10.14 5.85 6.83-7a36.62 36.62 0 0 0 2.34.63l2.42 9.52h11.7l2.59-9.57a36.62 36.62 0 0 0 2.16-.61l6.88 7.07 10.14-5.85-2.55-9.58a36.62 36.62 0 0 0 1.58-1.62l9.48 2.53 5.85-10.14-7.01-6.83a36.62 36.62 0 0 0 .6-2.22l9.53-2.42v-11.7l-9.51-2.57a36.62 36.62 0 0 0-.62-2.23l7-6.83-5.84-10.13-9.45 2.51a36.62 36.62 0 0 0-1.69-1.65l2.66-9.41L62.6 3.08 55.65 10a36.62 36.62 0 0 0-2.17-.6L50.94 0h-11.7l-2.37 9.35a36.62 36.62 0 0 0-2.36.64l-6.9-6.88-10.13 5.85 2.61 9.26a36.62 36.62 0 0 0-1.7 1.76l-9.42-2.66zm22.95 6.6A21.92 21.92 0 0 1 56 26.03a21.92 21.92 0 0 1 8.02 29.94 21.92 21.92 0 0 1-29.94 8.02 21.92 21.92 0 0 1-8.02-29.94z' fill='#004484'/>
                                    <path d='M31.13 32.8v12.14l7.97-6.73h-3.74l1-1H46.5L31.13 51.93v5.42h26.45l.14-12.4-8 6.98h3.1l-1 1H41.7L57.72 37.8v-5.02z' fill='#003380'/>
                                </svg>
                            </div>
                        </div>
                        <div class="col-xs-12" style="text-align: center;  margin: 10px -15px 0 -15px; padding-top: 5px;
                            width: calc(100% + 30px);
                            box-shadow: 0px -5px 12px -8px #333 ">
                            <p style="width:100%;">Copyright &copy; Sidomo WebBuilder</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->