<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <!-- column -->
            <div class="col-xs-12 col-sm-9">
                <div class="card">
                    <div class="card-body">
                        <h1>Add New Article</h1>
                        <hr>
                        <form id='addArticleForm' method="POST">
                            {% csrf_token %}
                            <h4>{{ form.title.label }}</h4>
                            {{ form.title }}
                            <br>
                            <br>
                            <h4>{{ form.content.label }}</h4>
                            {{ form.content }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h6>{{ form.tags.label }}</h6>
                        {{ form.tags }}
                        <h6>{{ form.category.label }}</h6>
                        {{ form.category }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h6>{{ form.published_date }}  {{ form.published_date.label }}</h6>
                        <h6>{{ form.is_published }}  {{ form.is_published.label }}</h6>
                        <h6>{{ form.is_featured }}  {{ form.is_featured.label }}</h6>
                        <h6>{{ form.featured_image.label }}</h6>
                        {{ form.featured_image }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="display: flex; justify-content: center">
                        <p class="btn btn-info" style="margin: auto" onclick="">PREVIEW</p>
                        <p class="btn btn-primary" style="margin: auto" onclick="">SUBMIT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>