<div class="row">
    <div class="col-sm-12">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-12">
        <form id='addArticleForm' method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
            <div class="row">
                <!-- column -->
                <div class="col-xs-12 col-sm-9">
                    <div class="card">
                        <div class="card-body">
                            <h1>Add New Article</h1>
                            <hr>
                            <h4>{{ form.title.label }}</h4>
                            {{ form.title }}
                            <br>
                            <br>
                            <h4>{{ form.lead_in.label }}</h4>
                            {{ form.lead_in }}
                            <br>
                            <br>
                            <h4>{{ form.content.label }}</h4>
                            {{ form.content }}
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h6>{{ form.tags.label }}</h6>
                            {{ form.tags }}
                            <h6>{{ form.category.label }}</h6>
                            {{ form.category }}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6>{{ form.published_date }}  {{ form.published_date.label }}</h6>
                            <h6>{{ form.is_published }}  {{ form.is_published.label }}</h6>
                            <h6>{{ form.is_featured }}  {{ form.is_featured.label }}</h6>
                            <h6>{{ form.featured_image.label }}</h6>
                            {{ form.featured_image }}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" style="display: flex; justify-content: center">
                            <p class="btn btn-info" style="margin: auto" onclick="previewNewArticle()">PREVIEW</p>
                            <p class="btn btn-primary" style="margin: auto" onclick="submitNewArticle()">SUBMIT</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>