
<header class="topbar" style="background: #07355a">
    <div class="navbar top-navbar navbar-expand-md" style="display: flex; justify-content: center">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b class="logo-icon">
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="/static/images/zeon-gear-white.svg" width="40px" height="auto"/>
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="logo-text">
                        <h5 style="color:#fff">ZEON CMS</h5>
                </span>
            </a>
        </div>
    </div>
</header>