{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/')">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/page/')">Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <div class="col-sm-12">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    <p>{{ field.label }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-12">
        <div class="row">
            <!-- column -->
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin: 0">
                            <div class="col-xs-12 col-sm-12" style="text-align: left">
                                <h3>Template </h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin: 0">
                            <div class="col-xs-12 col-sm-12" style="text-align: left">
                                <h6>Template Yang Tersedia Saat Ini : {{ data.available_templates.count }}</h6>
                            </div>
                        </div>
                        {% for template in data.available_templates %}
                            <div class="row" style="margin: 0">
                                <div class="col-xs-12 col-sm-12" style="text-align: left">
                                    <p>{{ template.name | title }}</p>
                                </div>
                                <div class="col-xs-3 col-sm-3" style="text-align: left">
                                    <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ template.get_sample_image_1_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                                </div>
                                <div class="col-xs-3 col-sm-3" style="text-align: left">
                                    <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ template.get_sample_image_2_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                                </div>
                                <div class="col-xs-3 col-sm-3" style="text-align: left">
                                    <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ template.get_sample_image_3_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                                </div>
                                <div class="col-xs-3 col-sm-3" style="text-align: right">
                                    {% if template.pk != configs.templates.pk %}
                                    <form id='editArticleForm' method="POST">
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
                                        <input type="hidden" name="template_pk" value="{{ template.pk }}">
                                        <p onclick="getNext('/cms/template/edit/{{ configs.templates.pk }}/')" class="btn btn-primary btn-sm"><span class="fa fa-edit"></span> USE THIS</p>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>