{% load humanize %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/')">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Template</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin: 0">
                    <div class="col-xs-10 col-sm-10" style="text-align: left">
                        <h3>Template </h3>
                        <p>Template dan Warna dasar yang dipakai oleh {{ site.domain }}</p>
                    </div>
                    <div class="col-xs-2 col-sm-2" style="text-align: right; display: flex; flex-direction: column; justify-content: flex-end">
                        <p onclick="getNext('/cms/template/edit/{{ configs.templates.pk }}/')" class="btn btn-primary btn-md"><span class="fa fa-plus"></span> CHANGE TEMPLATE</p>
                        <p onclick="getNext('/cms/color/edit/{{ configs.color_scheme.pk }}/')" class="btn btn-primary btn-md"><span class="fa fa-plus"></span> CHANGE COLOR</p>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-12" style="text-align: left">
                        <h6>Template Saat Ini</h6>
                        <p>{{ configs.templates.name | title }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3" style="text-align: left">
                        <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.templates.get_sample_image_1_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                    </div>
                    <div class="col-xs-12 col-sm-3" style="text-align: left">
                        <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.templates.get_sample_image_1_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                    </div>
                    <div class="col-xs-12 col-sm-3" style="text-align: left">
                        <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.templates.get_sample_image_1_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-12" style="text-align: left">
                        <h6>Skema Warna Saat Ini</h6>
                        <p>{{ configs.color_scheme.name | title }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3" style="text-align: left">
                        <div style="width:100%; height:140px; overflow:hidden; display: block; background-color: #{{ configs.color_scheme.primary_color }}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-3" style="text-align: left">
                        <div style="width:100%; height:140px; overflow:hidden; display: block; background-color: #{{ configs.color_scheme.dark_color }}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-3" style="text-align: left">
                        <div style="width:100%; height:140px; overflow:hidden; display: block; background-color: #{{ configs.color_scheme.accent_color }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
</div>