{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/')">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/page/')">Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>
{% endblock %}


<div class="row">
    <div class="col-sm-12">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-12">
        <form id='addArticleForm' method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
            <div class="row">
                <!-- column -->
                <div class="col-xs-12 col-sm-9">
                    <div class="card">
                        <div class="card-body">
                            <h1>Balas Komentar</h1>
                            <h4>{{ data.comment.visitor.name | title }}</h4>
                            <p>{{ data.comment.created_date|date:"l,j/M/Y" }}</p>
                            <hr>
                            <h4>Komentar</h4>
                            <p>{{ data.comment.content|linebreaks }}</p>
                                {% if data.comment.comment_reply.all %}
                                <hr>
                                <div id="reply-container-{{ comment.id }}" class="hidden reply-container">
                                    <div class="row" style="margin: 0">
                                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                                            <h6>Balasan</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2" style="text-align: center">
                                            <h6>Nama Pengguna</h6>
                                        </div>
                                        <div class="col-xs-4 col-sm-2" style="text-align: left">
                                            <h6>Email Pengguna</h6>
                                        </div>
                                        <div class="col-xs-4 col-sm-2" style="text-align: left">
                                            <h6>Tanggal</h6>
                                        </div>
                                        <div class="col-xs-4 col-sm-5" style="text-align: left">
                                            <h6>Konten</h6>
                                        </div>
                                    </div>
            
                                    {% for reply in data.comment.comment_reply.all %}
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1" style="text-align: center">
                                            </div>
                                            <div class="col-xs-2 col-sm-2" style="text-align: center">
                                                <p>{{ reply.visitor.name | title }}</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-2" style="text-align: left; overflow-x: auto">
                                                <p>{{ reply.visitor.email }}</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-2" style="text-align: center">
                                                <p>{{ reply.created_date | date:"l,j/M/Y" }}</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-5">
                                                <p>{{ reply.content|linebreaks }}</p>
                                            </div>
                                        {% if not forloop.last %}
                                        <hr>
                                        {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            
                            <hr>
                            <h4>Balas komentar sebagai {{ request.user.username | title}}</h4>
                            {{form.content}}
                            <p class="btn btn-primary" style="margin: auto" onclick="submitNewArticle()">SUBMIT</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>