{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/')">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/page/')">Assets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <div class="col-sm-12">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    <p>{{ field.label }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-12">
        <form id='editArticleForm' method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
            <div class="row">
                <!-- column -->
                <div class="col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h1>Edit Brand Assets</h1>
                            <hr>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h4>{{ form.brand_logo.label }}</h4>
                                    {% if configs.brand_assets.brand_logo %}
                                    <img src="{{ configs.brand_assets.get_brand_logo_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.brand_logo }}
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <h4>{{ form.favicon.label }}</h4>
                                    {% if configs.brand_assets.favicon %}
                                    <img src="{{ configs.brand_assets.get_favicon }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.favicon }}
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <h4>{{ form.hero_image_1.label }}</h4>
                                    {% if configs.brand_assets.hero_image_1 %}
                                    <img src="{{ configs.brand_assets.get_hero_image_1_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.hero_image_1 }}
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <h4>{{ form.hero_image_2.label }}</h4>
                                    {% if configs.brand_assets.hero_image_2 %}
                                    <img src="{{ configs.brand_assets.get_hero_image_2_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.hero_image_2 }}
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <h4>{{ form.hero_image_3.label }}</h4>
                                    {% if configs.brand_assets.hero_image_3 %}
                                    <img src="{{ configs.brand_assets.get_hero_image_3_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.hero_image_3 }}
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <h4>{{ form.main_photo_1.label }}</h4>
                                    {% if configs.brand_assets.main_photo_1 %}
                                    <img src="{{ configs.brand_assets.get_main_photo_1_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.main_photo_1 }}
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <h4>{{ form.main_photo_2.label }}</h4>
                                    {% if configs.brand_assets.main_photo_2 %}
                                    <img src="{{ configs.brand_assets.get_main_photo_2_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.main_photo_2 }}
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <h4>{{ form.extra_image_1.label }}</h4>
                                    {% if configs.brand_assets.extra_image_1 %}
                                    <img src="{{ configs.brand_assets.get_extra_image_1_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.extra_image_1 }}
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h4>{{ form.extra_image_2.label }}</h4>
                                    {% if configs.brand_assets.extra_image_2 %}
                                    <img src="{{ configs.brand_assets.get_extra_image_2_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.extra_image_2 }}
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <h4>{{ form.extra_image_3.label }}</h4>
                                    {% if configs.brand_assets.extra_image_3 %}
                                    <img src="{{ configs.brand_assets.get_extra_image_3_url }}" width="100px" height="auto">
                                    {% endif %}
                                    {{ form.extra_image_3 }}
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <p class="btn btn-info" style="margin: auto" onclick="previewNewArticle()">PREVIEW</p>
                                    <button class="btn btn-primary" form="editArticleForm" style="margin: auto" type="submit">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>