{% load humanize %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/')">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Brand Asset</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin: 0">
                    <div class="col-xs-10 col-sm-12" style="text-align: left">
                        <h3>Brand Asset </h3>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-12" style="text-align: center">
                        <h6>Brand Logo</h6>
                        <img src="{{ configs.brand_assets.get_brand_logo_url}}" width="130px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
</div>