{% load humanize %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/')">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Brand Asset</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin: 0">
                    <div class="col-xs-10 col-sm-10" style="padding:0;text-align: left">
                        <h1>Brand Assets</h1>
                        <p>Semua konten di bagian ini akan ditampilkan pada halaman home</p>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <a href='javascript:void(0)' onclick="getNext('/cms/asset/edit/{{ configs.id }}/')">
                            <p class="btn btn-info">EDIT</p>
                        </a>
                    </div>
                </div>
                <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <h4>Brand Logo</h4>
                            {% if configs.brand_assets.brand_logo %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_brand_logo_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <h4>Favicon</h4>
                            {% if configs.brand_assets.favicon %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_favicon }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 ">
                            <h1>Hero Image</h1>
                            <p>Foto berikut ini akan ditampilkan sebagai Slider utama pada halaman home</p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Hero Image 1</h4>
                            {% if configs.brand_assets.hero_image_1 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_hero_image_1_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Hero Image 2</h4>
                            {% if configs.brand_assets.hero_image_2 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_hero_image_2_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Hero Image 3</h4>
                            {% if configs.brand_assets.hero_image_3 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_hero_image_3_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 ">
                            <h1>Main Photo</h1>
                            <p>Foto berikut ini akan ditampilkan pada bagian tengah halaman home</p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Main Photo 1</h4>
                            {% if configs.brand_assets.main_photo_1 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_main_photo_1_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Main Photo 2</h4>
                            {% if configs.brand_assets.main_photo_2 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_main_photo_2_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 ">
                                <h1>Extra Image</h1>
                                <p>Foto berikut ini akan ditampilkan pada bagian "Team/ Fitur" di halaman home</p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Extra Image 1</h4>
                            {% if configs.brand_assets.extra_image_1 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_extra_image_1_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Extra Image 2</h4>
                            {% if configs.brand_assets.extra_image_2 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_extra_image_2_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h4>Extra Image 3</h4>
                            {% if configs.brand_assets.extra_image_3 %}
                            <div style="width:100%; height:140px; overflow:hidden" ><img src="{{ configs.brand_assets.get_extra_image_3_url }}" style="object-fit:cover; width:100%;height:100%" ></div>
                            <br>
                            <br>
                            
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <hr>
                            <a href='javascript:void(0)' onclick="getNext('/cms/asset/edit/{{ configs.id }}/')">
                                <p class="btn btn-info">EDIT</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- column -->
</div>