<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center m-b-20">
                    <div>
                        <h1 class="font-bold m-b-0">Store Overview</h1>
                        <span>Rangkuman singkat toko online {{ site.domain }}</span>
                    </div>
                    <div class="ml-auto">
                        <img src="{{ configs.brand_assets.get_brand_logo_url}}" width="120px" height="auto">
                    </div>
                </div>
                <hr>
                <p>
                    <a href="javascript:void(0)" onclick="window.open('http://{{ request.get_host }}/store','_blank')" class="btn btn-primary">VIEW STORE</span></a>
                </p>
            </div>
            <div class="row" style="margin: 0">
                <div class="col-xs-12 col-sm-12" style="padding: 0">
                    <div class="card bg-info" style="margin: 0">
                        <div class="card-body">
                            <div class="d-block">
                                <div>
                                    <h4 class="card-title text-white">Statistics</h4>
                                </div>
                                <div class="row" style="margin: 0 0 5px 0; border-bottom: 1px solid #fff">
                                    <div class="col-xs-6 col-sm-6" style="padding: 0">
                                        <p class="text-white m-b-0">
                                        Article Views<br> <b style="font-size: 32pt">{{ data.total_article_views }}</b></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6" style="padding: 0">
                                        <p class="text-white m-b-0">
                                        Page Views<br> <b style="font-size: 32pt">{{ data.total_page_views }}</b></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0">
                                    <div class="col-xs-6 col-sm-6" style="padding: 0">
                                        <p class="text-white m-b-0">
                                        Visitors<br> <b style="font-size: 32pt">{{ data.total_visitors }}</b></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6" style="padding: 0">
                                        <p class="text-white m-b-0">
                                        Comments<br> <b style="font-size: 32pt">{{ data.total_comments }}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin: 0">
                            <div class="col-xs-8 col-sm-9" style="text-align: left; padding: 0">
                                <h3>Products </h3>
                                <p>Total Article: {{ site.product_site.all | length}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-3" style="text-align: right; padding: 0">
                                <span onclick="getNext('/str/product/')" style="margin: 5px 0" class="btn btn-info btn-xs"><span class="fa fa-eye"></span> VIEW ALL</span>
                                <span onclick="getNext('/str/product/add/')" style="margin: 5px 0" class="btn btn-primary btn-xs"><span class="fa fa-plus"></span> CREATE NEW</span>
                            </div>
                            <div class="col-xs-12 col-sm-12" style="text-align: left; padding: 0">
                                <hr>
                                {% for product in site.product_site.al|slice:":5" %}
                                <p onclick="window.open('{{ article.get_article_url }}', '_blank')" style="margin: 0; padding: 0" class="btn btn-link text-info">{{ product.name | title | truncatechars:60 }}</p>
                                <a href='javascript:void(0)' onclick="getNext('{{ product.get_edit_url }}')"class="btn btn-link btn-sm text-info"><span class="fa fa-edit"></span></a>
                                <a href='javascript:void(0)' onclick="getNext('{{ product.get_delete_url }}')" class="btn btn-link btn-sm text-danger"><span class="fa fa-trash"></span></a>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-xs-12 col-sm-12">
                <div class="card order-widget">
                    <div class="card-body">
                        <div class="row" style="margin: 0">
                            <div class="col-xs-8 col-sm-9" style="text-align: left; padding: 0">
                                <h3>Product Categories </h3>
                                <p>Total Categories: {{ site.product_category_site | length}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-3" style="text-align: right; padding: 0">
                                <span onclick="getNext('/str/category/')" style="margin: 5px 0" class="btn btn-info btn-xs"><span class="fa fa-eye"></span> VIEW ALL</span>
                                <span onclick="getNext('/str/category/add/')" style="margin: 5px 0" class="btn btn-primary btn-xs"><span class="fa fa-plus"></span> CREATE NEW</span>
                            </div>
                        </div>
                        <div class="row" style="margin: 0">
                            <div class="col-xs-12 col-sm-12" style="padding: 0">
                                <hr>
                                <p>
                                    {% for category in site.product_category_site %}
                                    <p onclick="window.open('/{{ category.slug }}', '_blank')" style="margin: 0; padding: 0" class="btn btn-link text-info">{{category.name | truncatechars:30 | title }}</p>
                                    <a href='javascript:void(0)' onclick="getNext('{{ category.get_edit_url }}')"class="btn btn-link btn-sm text-info"><span class="fa fa-edit"></span></a>
                                    <a href='javascript:void(0)' onclick="getNext('{{ category.get_delete_url }}')" class="btn btn-link btn-sm text-danger"><span class="fa fa-trash"></span></a>
                                    <br>
                                    {% endfor %}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin: 0">
                            <div class="col-xs-8 col-sm-9" style="text-align: left; padding: 0">
                                <h3>Orders </h3>
                                <p>Total Orders: {{ site.order_site.all | length}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-3" style="text-align: right; padding: 0">
                                <span onclick="getNext('/str/order/')" style="margin: 5px 0" class="btn btn-info btn-xs"><span class="fa fa-eye"></span> VIEW ALL</span>
                            </div>
                            <div class="col-xs-12 col-sm-12" style="text-align: left; padding: 0">
                                <hr>
                                {% for order in .order_site.all|slice:":5" %}
                                <p onclick="window.open('{{ order.get_detail_url }}', '_blank')" style="margin: 0; padding: 0" class="btn btn-link text-info">{{ order.order_number | truncatechars:60 }}</p>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>