<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>Findeo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/zeon-backend-style.css">
<link rel="stylesheet" href="/static/css/colors/main.css" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Topbar -->
	<div id="top-bar">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Top bar -->
				<ul class="top-bar-menu">
					<li><i class="fa fa-phone"></i> (123) 123-456 </li>
				</ul>

			</div>
			<!-- Left Side Content / End -->


			<!-- Left Side Content -->
			<div class="right-side">

				<!-- Social Icons -->
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
				</ul>

			</div>
			<!-- Left Side Content / End -->

		</div>
	</div>
	<div class="clearfix"></div>
	<!-- Topbar / End -->


	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo" style="min-width:170px">
					<a href="/"><img src="/images/logo3.png" style="width: 110px;"></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a class="current" href="/">Home</a>
						</li>

						<li><a href="/about">About</a>
						</li>

						<li><a href="#">Services</a>
							<ul>
								<li><a href="/services">Website</a>
								</li>
								<li><a href="/services">Android</a>
								</li>
								<li><a href="/services">Ios</a>
								</li>
							</ul>
						</li>

						<li><a href="/pricing">Pricing</a>
						</li>
						<li><a href="/blog">Blog</a>
						</li>
						<li><a href="/contact">Contact</a>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
					<a href="login-register/" class="sign-in"><i class="fa fa-user"></i> Log In</a>
					<a href="submit-property/" class="button border-green">Register</a>
				</div>
				<!-- Header Widget / End -->
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Banner
================================================== -->
<div style="background-image:url(/images/banner1.jpg); 
	background-position: center;
	min-height: 559px; 
	padding: 20px 0; 
	background-size: cover; background-repeat: no-repeat">
	<div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<div class="main-search-container">
						<h2>Find Your Dream Home</h2>
						
						<!-- Main Search -->
						<form class="main-search-form">
							
							<!-- Type -->
							<div class="search-type">
								<label class="active">
									<input id="header-button-1" onclick="replaceContent(this.id)" class="first-tab" name="tab" checked="checked" type="radio">Website
								</label>
								<label><input id="header-button-2" onclick="replaceContent(this.id)" name="tab" type="radio">Android</label>
								<label><input id="header-button-3" onclick="replaceContent(this.id)" name="tab" type="radio">iOS</label>
								<div class="search-type-arrow"></div>
							</div>

							
							<!-- Box -->
							<div class="main-search-box">
								
								<!-- Main Search Input -->
								<div>
									<div class="row" style="margin: 0">
										<div class="col-xs-12 col-md-4 padding-top-20" style="text-align:center">
											<img id="header-card-image" src="/images/logo2.png" style="width: 100%; max-width: 220px; height: auto;">
										</div>
										<div class="col-xs-12 col-md-8">
											<h3 id="header-card-title">Website Builder</h3>
											<p id="header-card-text">
													Membuat website profesional dengan satu langkah mudah, didukung dengan CMS yang sangat  mudah digunakan, akses ringan , serta SEO friendly. Kami juga menyediakn berbagai pilihan template responsive untuk mengoptimalkan tampilan pada perangkat seluler.
											</p>
										</div>
										<div class="col-xs-12" style="padding:20px 15px 0 15px; border-top:1px solid #efefef">
											<div class="row" style="margin: 0">
												<div class="col-xs-12 col-md-6" style="padding:0; text-align: left"><span class="fa fa-check" style="color:#109800"></span> <span id="header-card-list-1">14 Day Free Trial</span></div>
												<div class="col-xs-12 col-md-6" style="padding:0; text-align: left"><span class="fa fa-check" style="color:#109800"></span> <span id="header-card-list-2">Template Responsive</span></div>
												<div class="col-xs-12 col-md-6" style="padding:0; text-align: left"><span class="fa fa-check" style="color:#109800"></span> <span id="header-card-list-3">SEO Friendly</span></div>
												<div class="col-xs-12 col-md-6" style="padding:0; text-align: left"><span class="fa fa-check" style="color:#109800"></span> <span id="header-card-list-4">Tutorial Penggunaan</span></div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<!-- Box / End -->

						</form>
						<!-- Main Search -->

					</div>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>

		
<!-- Tiga Kebaikan
================================================== -->
<section class="fullwidth padding-top-65 padding-bottom-55" data-background-color="#fff" style="margin: 0 !important">
	<div class="container container-tiga-kebaikan">
		<div class="row">
			<!-- Carousel -->	
			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-40 margin-top-10">Website & Mobile Apps Builder 
					<span style="color:#333">Solusi cerdas membuat Website dan Mobile Apps dengan satu langkah cerdas!</span></h3>
			</div>
			<div class="col-md-12">
				<div class="row card-container">
					<div class="card">
						<div class="effect6">
							<img src="/images/logo2.png" style="width: 50%; height: auto;">
							<h3 class="title_effect6">Pengoperasian yang Mudah</h3>
							<p>Sidomo dilengkapi dengan user interface yang mudah dipahami, serta tersedia tutorial lengkap untuk mempermudah Anda saat membuat website dan aplikasi sesuai dengan kebutuhan.</p>
						</div>
						
					</div>
					<div class="card">
						<div class="effect6">
							<img src="/images/logo2.png" style="width: 50%; height: auto;">
							<h3 class="title_effect6">Tersedia Berbagai Template</h3>
							<p>Kami menyediakan berbagai pilihan template premium untuk website dan apps yang ringan diakses, serta tampilan responsive untuk mengoptimalkan pada saat diakses melalui perangkat seluler.</p>
						
						</div>
					</div>
					<div class="card">
						<div class="effect6">
							<img src="/images/logo2.png" style="width: 50%; height: auto;">
							<h3 class="title_effect6">Sistem Penjualan Affiliasi</h3>
							<p>Kami mengajak Anda untuk bergabung menjadi mitra kami, dan dapatkan penghasilan tak terbatas dari sistem affiliasi yang kami rancang untuk memberikan peluang bisnis bagi Anda. </p>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel / End -->

		</div>
	</div>
</section>

<!-- Content
================================================== 
<div class="container margin-bottom-40 padding-top-65 padding-bottom-65" style="width:100%; background-color:#f9f9f9">
	<div class="row">
		<div class="col-md-12">
			<div class="row" style="margin: 0">
				<div class="col-md-6">
					<img src="/images/2.jpg" style="width: 100%; height: auto;">
				</div>
				<div class="col-md-6">
					<h3>Lorem Ipsum</h3>
					<p>Si eres un profesional de Internet o acabas de iniciar tu primer sitio web, nuestro equipo de profesionales está aquí para apoyarte. Permítenos superar tus expectativas.</p>
					<button class="button border-green" >Learn More</button>
				</div>
			</div>
		</div>
		

	</div>
</div>
-->

<!-- For Rent 
<section class="fullwidth margin-top-55 padding-top-65 padding-bottom-55" data-background-color="#f9f9f9">
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="row" style="margin: 0">
				<div class="col-md-8">
					<h3>Lorem Ipsum</h3>
					<p>Si eres un profesional de Internet o acabas de iniciar tu primer sitio web, nuestro equipo de profesionales está aquí para apoyarte. Permítenos superar tus expectativas.
					</p>
					<button class="button border-green" >Learn More</button>
				</div>
				<div class="col-md-4">
					<img src="/images/3.jpg" style="width: 100%; height: auto;">
				</div>
			</div>
		</div>

	</div>
</div>
</section>
-->
<!-- Container / Start -->
<div class="container">

	<!-- Row / Start -->
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-40 margin-top-10">Paket & Harga 
				<span style="color:#333">Harga yang kompetitif untuk layanan dan fitur terbaik!</span></h3>
		</div>
		<div class="col-md-12">
			<div class="pricing-container margin-top-30">

			<!-- Plan #1 -->

				<div class="plan">

					<div class="plan-price">
						<h3>Trial</h3>
						<span class="value">Free</span>
						<span class="period">Layanan gratis untuk masa percobaan selama 14 hari.</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Tanpa Domain</li>
							<li>Post Terbatas</li>
							<li>Tanpa Akun Email</li>
							<li>Support Terbatas</li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>

				</div>

				<!-- Plan #3 -->
				<div class="plan featured" style="padding-bottom:35px">

					<div class="listing-badges">
						<span class="featured">Featured</span>
					</div>

					<div class="plan-price">
						<h3>Website Builder</h3>
						<span class="value">Rp.2.500.000</span>
						<span class="period">Harga tertera diatas untuk layanan selama 1-tahun.</span>
					</div>
					<div class="plan-features">
						<ul>
							<li>Domain Custom</li>
							<li>Post Tidak Terbatas</li>
							<li>Tersedia Akun Email</li>
							<li>24/7 Support</li>
						</ul>
						<a class="button" href="#">Get Started</a>
					</div>
				</div>

				<!-- Plan #3 -->
				<div class="plan">

					<div class="plan-price">
						<h3>Android / IOS Builder</h3>
						<span class="value">Rp.5.000.000</span>
						<span class="period">Harga tertera diatas untuk layanan selama 1-tahun.</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Tanpa Domain</li>
							<li>Post Tidak Terbatas</li>
							<li>Tersedia Akun Email</li>
							<li>24/7 Support</li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Row / End -->

</div>
<!-- Container / End -->

<section class="fullwidth border-top margin-top-55 margin-bottom-0 padding-top-60 padding-bottom-65" data-background-color="#18ab07bf">
	<!-- Logo Carousel -->
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-40 margin-top-10">Pengguna Layanan Jasa Kami 
					<span style="color:#333">Perusahaan yang mempercayakan kebutuhan website dan aplikasi kepada kami</span></h3>
			</div>
			
			<!-- Carousel -->
			<div class="col-md-12">
				<div class="logo-carousel dot-navigation">
					
					<div class="item">
						<img src="/images/logo-01.png" alt="">
					</div>
					
					<div class="item">
						<img src="/images/logo-02.png" alt="">
					</div>
					
					<div class="item">
						<img src="/images/logo-03.png" alt="">
					</div>
					
					<div class="item">
						<img src="/images/logo-04.png" alt="">
					</div>
					
					<div class="item">
						<img src="/images/logo-05.png" alt="">
					</div>		

					<div class="item">
						<img src="/images/logo-06.png" alt="">
					</div>	

					<div class="item">
						<img src="/images/logo-07.png" alt="">
					</div>


				</div>
			</div>
			<!-- Carousel / End -->

		</div>
	</div>
	<!-- Logo Carousel / End -->
</section>

<div class="container padding-top-65">
	<div class="row fullwidth-layout">
		<div class="col-md-12" style="padding: 0 40px">
				<div class="row margin-bottom-15">
						<div class="listings-container grid-layout-three">
							<div class="listing-item">

								<a href="blog-post.hml" class="listing-img-container">

									<div class="listing-badges">
										<span class="featured">Featured</span>
									</div>

									<div>
										<div><img src="/images/3.jpg" alt=""></div>
									</div>
								</a>
								
								<div class="listing-content" style="margin-bottom:20px">

									<div class="listing-title">
										<h4><a href="blog-post/">Ini Judul Blog Satu</a></h4>
										<p style="margin:0">
											<i class="fa fa-user"></i> David Strozier
											<i class="fa fa-comment" style="margin-left:3px"></i> 21.1k
											<i class="fa fa-calendar-o" style="margin-left:3px"></i> 1 day ago</span>
										</p>
										<p>
											Si eres un profesional de Internet o acabas de iniciar tu primer sitio web, ...
										</p>	
										<a href="blog-post/">
											<span class="button border border-green" style="padding:10px 40px; width: auto">
											Details</span>
										</a>
									</div>

								</div>

							</div>
							<!-- Listing Item / End -->
							<div class="listing-item">

									<a href="blog-post.hml" class="listing-img-container">
	
										<div class="listing-badges">
											<span class="featured">Featured</span>
										</div>
	
										<div>
											<div><img src="/images/item6.jpg" alt=""></div>
										</div>
									</a>
									
									<div class="listing-content" style="margin-bottom:20px">
	
										<div class="listing-title">
											<h4><a href="blog-post/">Ini Judul Blog Dua</a></h4>
											<p style="margin:0">
												<i class="fa fa-user"></i> David Strozier
												<i class="fa fa-comment" style="margin-left:3px"></i> 21.1k
												<i class="fa fa-calendar-o" style="margin-left:3px"></i> 1 day ago</span>
											</p>
											<p>
												Si eres un profesional de Internet o acabas de iniciar tu primer sitio web, ...
											</p>	
											<a href="blog-post/">
												<span class="button border border-green" style="padding:10px 40px; width: auto">
												Details</span>
											</a>
										</div>
	
									</div>
	
								</div>
								<!-- Listing Item / End -->
							<div class="listing-item">

									<a href="blog-post.hml" class="listing-img-container">
	
										<div class="listing-badges">
											<span class="featured">Featured</span>
										</div>
	
										<div>
											<div><img src="/images/item4.jpg" alt=""></div>
										</div>
									</a>
									
									<div class="listing-content" style="margin-bottom:20px">
	
										<div class="listing-title">
											<h4><a href="blog-post/">Ini Judul Blog Tiga</a></h4>
											<p style="margin:0">
												<i class="fa fa-user"></i> David Strozier
												<i class="fa fa-comment" style="margin-left:3px"></i> 21.1k
												<i class="fa fa-calendar-o" style="margin-left:3px"></i> 1 day ago</span>
											</p>
											<p>
												Si eres un profesional de Internet o acabas de iniciar tu primer sitio web, ...
											</p>	
											<a href="blog-post/">
												<span class="button border border-green" style="padding:10px 40px; width: auto">
												Details</span>
											</a>
										</div>
	
									</div>
	
								</div>
								<!-- Listing Item / End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="padding-top-40 padding-bottom-40" style="width: 100%; background:#18ab07bf">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 margin-bottom-20">
			<h1 style="font-weight:100; font-size:34pt">Berlangganan Melalui  
			<span class="white" style="font-weight:900">
					Email	
			</span></h1>
			</div>
			<div class="col-xs-12 margin-bottom-15" style="border-top:1px solid #555"></div>
			<div class="col-xs-12 col-md-6 margin-bottom-10">
				<p style="color:#333; font-size:13pt">
						Dapatkan informasi terbaru serta harga promo menarik dengan subscribe dan berlangganan melalui email
				</p>
			</div>
			<div class="col-xs-12 col-md-6 margin-bottom-40" style="display: flex; justify-content:center">
				<input type="email" style="border:1px solid #fff;min-height:51px;margin:auto; width: 75%; border-top-left-radius: 5px; border-bottom-left-radius: 5px" placeholder="Masukkan alamat email Anda">
				<button class="button" type="submit" style="border:1px solid #fff;border-top-right-radius: 5px; border-bottom-right-radius: 5px;min-height:51px;width: 25%; margin:auto">Kirim</button>
			</div>
		</div>
	</div>
</div>
<!-- Footer
================================================== -->
<div id="footer">
	<!-- Main -->
	<div class="container">
		<div class="row">

			<div class="col-md-3  col-sm-12">
				<h4>Contact Us</h4>
				<div class="text-widget">
					<span>
						– Jl. Laksda Adi Sucipto Gang.22, Pandanwangi (Graha Cipta Residence, Blok B5), Blimbing, Pandanwangi, Blimbing, Malang, Jawa Timur 65126
					</span> <br>
					<span>
						– Jl. Sentot Prawirodirjo Sentul Kota Blitar, Jawa TImur
					</span> <br>
					Phone: <span>+62 821-66-900-900 </span><br>
					E-Mail:<span> <a href="#">contact@sidomo.com</a> </span><br>

					<div class="row" style="margin: 0">
						<ul class="social-icons margin-top-20">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-1  col-sm-12"></div>
			<div class="col-md-4 col-sm-12">
					<h4>Helpful Links</h4>
					<ul class="footer-links">
						<li><a href="#">Log In / Register</a></li>
						<li><a href="#">Company Profile</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Web Builder</a></li>
						<li><a href="#">Android Builder</a></li>
					</ul>
	
					<ul class="footer-links">
						<li><a href="#">IOS Builder</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Term of service</a></li>
						<li><a href="#">Kritik dan Saran</a></li>
						<li><a href="#">Laporkan Penyalahgunaan</a></li>
					</ul>
					<div class="clearfix"></div>
			</div>

			<div class="col-md-4 col-sm-12 ">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href="#">Web Support</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Program Afiliasi</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Stockist & Cabang</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">Review Pelanggan</a></li>
					<li><a href="#">Gallery Events</a></li>
					<li><a href="#">Karir</a></li>
					<li><a href="#">Developer Club</a></li>
					<li><a href="#">Metode Pembayaran</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/static/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/static/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/static/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/static/scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/scripts/rangeSlider.js"></script>
<script type="text/javascript" src="/static/scripts/sticky-kit.min.js"></script>
<script type="text/javascript" src="/static/scripts/slick.min.js"></script>
<script type="text/javascript" src="/static/scripts/masonry.min.js"></script>
<script type="text/javascript" src="/static/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="/static/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/static/scripts/custom.js"></script>
<script>
	function replaceContent(id){
		switch(id){
			case 'header-button-1':
				$('#header-card-title').text('Website Builder');
				$('#header-card-text').text('Membuat website profesional dengan satu langkah mudah, didukung dengan CMS yang sangat  mudah digunakan, akses ringan , serta SEO friendly. Kami juga menyediakn berbagai pilihan template responsive untuk mengoptimalkan tampilan pada perangkat seluler.');
				$('#header-card-list-1').text('14 Day Free Trial');
				$('#header-card-list-2').text('Template Responsive');
				$('#header-card-list-3').text('SEO Friendly');
				$('#header-card-list-4').text('Tutorial Penggunaan');
				break;
			case 'header-button-2':
				$('#header-card-title').text('Android Apps Builder');
				$('#header-card-text').text('Membuat aplikasi Android dengan mudah menggunakan Sidomo Apps Builder, tersedia berbagai pilihan desain dan system pengoperasian yang bisa di integrasikan dengan Website sehingga Anda bisa mengelola Website sekaligus Aplikasi Android dengan satu admin panel.');
				$('#header-card-list-1').text('14 Day Free Trial');
				$('#header-card-list-2').text('Mudah dioperasikan');
				$('#header-card-list-3').text('Gratis Upload ke Google Play');
				$('#header-card-list-4').text('Tutorial Penggunaan');
				break;
			case 'header-button-3':
				$('#header-card-title').text('IOS Apps Builder');
				$('#header-card-text').text('Kami juga menyediakan IOS Apps Builder untuk memberikan layanan  terbaik sesuai dengan kebutuhan Anda. Sistem ini mendukung integrasi antar platform untuk memudahkan Anda dalam mengelola website sekaligus Aplikasi Android dan IOS cukup dengan satu admin panel.');
				$('#header-card-list-1').text('14 Day Free Trial');
				$('#header-card-list-2').text('Mudah dioperasikan');
				$('#header-card-list-3').text('Gratis Upload ke App Store');
				$('#header-card-list-4').text('Tutorial Penggunaan');
				break;
		}
	}
</script>
</div>
<!-- Wrapper / End -->


</body>
</html>
