<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>Findeo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/zeon-backend-style.css">
<link rel="stylesheet" href="/static/css/colors/main.css" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Topbar -->
	<div id="top-bar">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Top bar -->
				<ul class="top-bar-menu">
					<li><i class="fa fa-phone"></i> (123) 123-456 </li>
				</ul>

			</div>
			<!-- Left Side Content / End -->


			<!-- Left Side Content -->
			<div class="right-side">

				<!-- Social Icons -->
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
				</ul>

			</div>
			<!-- Left Side Content / End -->

		</div>
	</div>
	<div class="clearfix"></div>
	<!-- Topbar / End -->


	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo" style="min-width:170px">
					<a href="/"><img src="/images/logo3.png" style="width: 110px;"></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a href="/">Home</a>
						</li>

						<li><a href="/about">About</a>
						</li>

						<li><a href="#">Services</a>
							<ul>
								<li><a href="/services">Website</a>
								</li>
								<li><a href="/services">Android</a>
								</li>
								<li><a href="/services">Ios</a>
								</li>
							</ul>
						</li>

						<li><a class="current" href="/pricing">Pricing</a>
						</li>
						<li><a href="/blog">Blog</a>
						</li>
						<li><a href="/contact">Contact</a>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
					<a href="login-register" class="sign-in"><i class="fa fa-user"></i> Log In</a>
					<a href="submit-property" class="button border-green">Register</a>
				</div>
				<!-- Header Widget / End -->
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->



<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2> </h2>
				<span></span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Paket & Harga</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">

	<!-- Row / Start -->
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-40 margin-top-10">Paket dan Harga <span style="color:#333">Pilih paket dan harga sesuai kebutuhan Anda!</span></h3>
		</div>

		<div class="col-md-12">
			<div class="pricing-container margin-top-30; margin-bottom-40">

			<!-- Plan #1 -->

				<div class="plan">

					<div class="plan-price">
						<h3>Trial</h3>
						<span class="value">Free</span>
						<span class="period">Layanan gratis untuk masa percobaan selama 14 hari.</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Tanpa Domain</li>
							<li>Post Terbatas</li>
							<li>Tanpa Akun Email</li>
							<li>Support Terbatas</li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>

				</div>

				<!-- Plan #3 -->
				<div class="plan featured" style="padding-bottom:35px">

					<div class="listing-badges">
						<span class="featured">Featured</span>
					</div>

					<div class="plan-price">
						<h3>Website Builder</h3>
						<span class="value">Rp.2.500.000</span>
						<span class="period">Harga tertera diatas untuk layanan selama 1-tahun.</span>
					</div>
					<div class="plan-features">
						<ul>
							<li>Domain Custom</li>
							<li>Post Tidak Terbatas</li>
							<li>Tersedia Akun Email</li>
							<li>24/7 Support</li>
						</ul>
						<a class="button" href="#">Get Started</a>
					</div>
				</div>

				<!-- Plan #3 -->
				<div class="plan">

					<div class="plan-price">
						<h3>Android / IOS Builder</h3>
						<span class="value">Rp.5.000.000</span>
						<span class="period">Harga tertera diatas untuk layanan selama 1-tahun.</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Tanpa Domain</li>
							<li>Post Tidak Terbatas</li>
							<li>Tersedia Akun Email</li>
							<li>24/7 Support</li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Row / End -->

</div>
<!-- Container / End -->

<div class="padding-top-40 padding-bottom-40" style="width: 100%; background:#18ab07bf">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 margin-bottom-20">
			<h1 style="font-weight:100; font-size:34pt">Berlangganan Melalui  
			<span class="white" style="font-weight:900">
					Email	
			</span></h1>
			</div>
			<div class="col-xs-12 margin-bottom-15" style="border-top:1px solid #555"></div>
			<div class="col-xs-12 col-md-6 margin-bottom-10">
				<p style="color:#333; font-size:13pt">
						Dapatkan informasi terbaru serta harga promo menarik dengan subscribe dan berlangganan melalui email
				</p>
			</div>
			<div class="col-xs-12 col-md-6 margin-bottom-40" style="display: flex; justify-content:center">
				<input type="email" style="border:1px solid #fff;min-height:51px;margin:auto; width: 75%; border-top-left-radius: 5px; border-bottom-left-radius: 5px" placeholder="Masukkan alamat email Anda">
				<button class="button" type="submit" style="border:1px solid #fff;border-top-right-radius: 5px; border-bottom-right-radius: 5px;min-height:51px;width: 25%; margin:auto">Kirim</button>
			</div>
		</div>
	</div>
</div>
<!-- Footer
================================================== -->
<div id="footer">
	<!-- Main -->
	<div class="container">
		<div class="row">

			<div class="col-md-3  col-sm-12">
				<h4>Contact Us</h4>
				<div class="text-widget">
					<span>
						– Jl. Laksda Adi Sucipto Gang.22, Pandanwangi (Graha Cipta Residence, Blok B5), Blimbing, Pandanwangi, Blimbing, Malang, Jawa Timur 65126
					</span> <br>
					<span>
						– Jl. Sentot Prawirodirjo Sentul Kota Blitar, Jawa TImur
					</span> <br>
					Phone: <span>+62 821-66-900-900 </span><br>
					E-Mail:<span> <a href="#">contact@sidomo.com</a> </span><br>

					<div class="row" style="margin: 0">
						<ul class="social-icons margin-top-20">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-1  col-sm-12"></div>
			<div class="col-md-4 col-sm-12">
					<h4>Helpful Links</h4>
					<ul class="footer-links">
						<li><a href="#">Log In / Register</a></li>
						<li><a href="#">Company Profile</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Web Builder</a></li>
						<li><a href="#">Android Builder</a></li>
					</ul>
	
					<ul class="footer-links">
						<li><a href="#">IOS Builder</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Term of service</a></li>
						<li><a href="#">Kritik dan Saran</a></li>
						<li><a href="#">Laporkan Penyalahgunaan</a></li>
					</ul>
					<div class="clearfix"></div>
			</div>

			<div class="col-md-4 col-sm-12 ">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href="#">Web Support</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Program Afiliasi</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Stockist & Cabang</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">Review Pelanggan</a></li>
					<li><a href="#">Gallery Events</a></li>
					<li><a href="#">Karir</a></li>
					<li><a href="#">Developer Club</a></li>
					<li><a href="#">Metode Pembayaran</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/static/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/static/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/static/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/static/scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/scripts/rangeSlider.js"></script>
<script type="text/javascript" src="/static/scripts/sticky-kit.min.js"></script>
<script type="text/javascript" src="/static/scripts/slick.min.js"></script>
<script type="text/javascript" src="/static/scripts/masonry.min.js"></script>
<script type="text/javascript" src="/static/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="/static/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/static/scripts/custom.js"></script>



</div>
<!-- Wrapper / End -->


</body>
</html>