{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/')">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/product/')">Product</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <div class="col-sm-12">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    <p>{{ field.label }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-12">
        <form id='addArticleForm' method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
            <div class="row">
                <!-- column -->
                <div class="col-xs-12 col-sm-9">
                    <div class="card">
                        <div class="card-body">
                            <h1>Add New Product</h1>
                            <hr>
                            <h4>{{ form.name.label }}</h4>
                            {{ form.name }}
                            <br>
                            <br>
                            <h4>{{ form.description.label }}</h4>
                            {{ form.description }}
                            <br>
                            <br>
                            <h4>{{ form.categories.label }}</h4>
                            <p class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/category/add/')">Add New Category</a></p>
                            {{ form.categories }}
                            <br>
                            <br>
                            <h4>{{ form.price.label }}</h4>
                            {{ form.price }}
                            <br>
                            <br>
                            <h4>{{ form.unit_weight.label }}</h4>
                            {{ form.unit_weight }}
                            <br>
                            <br>
                            <h6>{{ form.photo.label }}</h6> 
                            {% if form.instance.get_photo_url %}
                                <img src="{{ form.instance.get_photo_url }}" style="width:100%; max-width:320px; height:auto">
                            {% endif %}
                            {{ form.photo }}
                            <br>
                            <br>
                            <h6>{{ form.photo_alt1.label }}</h6>
                            {{ form.photo_alt1 }}
                            <br>
                            <br>
                            <h6>{{ form.photo_alt2.label }}</h6>
                            {{ form.photo_alt2 }}
                            <br>
                            <br>
                            <h6>{{ form.photo_alt3.label }}</h6>
                            {{ form.photo_alt3 }}
                            <br>
                            <br>
                            <h6>{{ form.photo_alt4.label }}</h6>
                            {{ form.photo_alt4 }}
                            <br>
                            <br>
                            <h6>{{ form.photo_alt5.label }}</h6>
                            {{ form.photo_alt5 }}
                            <br>
                        </div>
                        <div class="card-body">
                            <h6>{{ form.is_available }}  {{ form.is_available.label }}</h6>
                            <h6>{{ form.is_archived }}  {{ form.is_archived.label }}</h6>
                            <p class="btn btn-primary" style="float:right; margin: auto" onclick="submitNewArticle()">SUBMIT</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>