{% load humanize int_to_rupiah int_to_kilogram %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/')">Store</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin: 0">
                    <div class="col-xs-10 col-sm-10" style="text-align: left">
                        <h3>Product </h3>
                        <p>Total product: {{ site.product_site.all | length }}</p>
                    </div>
                    <div class="col-xs-2 col-sm-2" style="text-align: right; display: flex; flex-direction: column; justify-content: flex-end">
                        <p onclick="getNext('/str/product/add/')" class="btn btn-primary btn-md"><span class="fa fa-plus"></span> CREATE NEW</p>
                    </div>
                </div>
                <hr>
                    
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="margin: 0">
                                    <div class="col-xs-10 col-sm-10" style="text-align: left">
                                        <h3>Product </h3>
                                        <p>Total product: {{ site.product_site.all | length }}</p>
                                    </div>
                                    <div class="col-xs-2 col-sm-2" style="text-align: right; display: flex; flex-direction: column; justify-content: flex-end">
                                        <p onclick="getNext('/str/product/add/')" class="btn btn-primary btn-md"><span class="fa fa-plus"></span> CREATE NEW</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="margin: 0">
                                    <div class="col-xs-2 col-sm-1" style="text-align: center">
                                    </div>
                                    <div class="col-xs-2 col-sm-1" style="text-align: center">
                                        <h6>Available</h6>
                                    </div>
                                    <div class="col-xs-2 col-sm-1" style="text-align: center">
                                        <h6>Archived</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-3" style="text-align: left">
                                        <h6>Name</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-1" style="text-align: left">
                                        <h6>Price</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-1" style="text-align: left">
                                        <h6>Unit Weight</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-2" style="text-align: left">
                                        <h6>Categories</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-2" style="text-align: left">
                                    </div>
                                </div>
                                <hr>
                                {% for product in site.product_site.all %}
                                    <div class="row" style="margin: 0">
                                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                                            <img src="{{ product.get_photo_url }}" style="width:100%; height:auto">
                                        </div>
                                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                                            {% if  product.is_available %}
                                            <span class="text-success fa fa-check"></span>
                                            {% else %}
                                            <span class="text-danger fa fa-times"></span>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                                            {% if  product.is_archived %}
                                            <span class="text-success fa fa-check"></span>
                                            {% else %}
                                            <span class="text-danger fa fa-times"></span>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-4 col-sm-3" style="text-align: left; word-wrap: break-word">
                                            <p onclick="window.open('{{ product.get_detail_url }}', '_blank')" style="cursor:pointer" class="text-info">{{ product.name | title }}</p>
                                        </div>
                                        <div class="col-xs-4 col-sm-1" style="text-align: left">
                                            <p>{{ product.price | int_to_rupiah }}</p>
                                        </div>
                                        <div class="col-xs-4 col-sm-1" style="text-align: left">
                                            <p>{{ product.unit_weight | int_to_kilogram }}</p>
                                        </div>
                                        <div class="col-xs-4 col-sm-2" style="text-align: left; word-wrap: break-word">
                                            {% for category in product.categories.all %}
                                                <span style="display: inline-block; margin: 2px 0"  class="label label-info">{{ category.name | title }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="col-xs-4 col-sm-2" style="display: flex; justify-content: center">
                                            <p onclick="getNext('{{ product.get_edit_url }}')" class="btn btn-info btn-xs" style="margin: auto"><span class="fa fa-edit"></span> EDIT</p>
                                            <p onclick="window.open('{{ product.get_delete_url }}', '_parent')" class="btn btn-danger btn-xs" style="margin: auto"><span class="fa fa-trash"></span> DELETE</p>
                                        </div>
                                    </div>
                                    {% if not forloop.last %}
                                    <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                </div>   
                <div class="col-xs-4 col-sm-3" style="text-align: left">
                    <h6>Name</h6>
                </div>
                <div class="col-xs-4 col-sm-1" style="text-align: left">
                    <h6>Price</h6>
                </div>
                <div class="col-xs-4 col-sm-1" style="text-align: left">
                    <h6>Unit Weight</h6>
                </div>
                <div class="col-xs-4 col-sm-2" style="text-align: left">
                    <h6>Categories</h6>
                </div>
                <div class="col-xs-4 col-sm-2" style="text-align: left">
                </div>
                <hr>
                {% for product in site.product_site.all %}
                    <div class="row" style="margin: 0">
                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                            <img src="{{ product.get_photo_url }}" style="width:100%; height:auto">
                        </div>
                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                            {% if  product.is_available %}
                            <span class="text-success fa fa-check"></span>
                            {% else %}
                            <span class="text-danger fa fa-times"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                            {% if  product.is_archived %}
                            <span class="text-success fa fa-check"></span>
                            {% else %}
                            <span class="text-danger fa fa-times"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-4 col-sm-3" style="text-align: left; word-wrap: break-word">
                            <p onclick="window.open('{{ product.get_detail_url }}', '_blank')" style="cursor:pointer" class="text-info">{{ product.name | title }}</p>
                        </div>
                        <div class="col-xs-4 col-sm-1" style="text-align: left">
                            <p>{{ product.price | int_to_rupiah }}</p>
                        </div>
                        <div class="col-xs-4 col-sm-1" style="text-align: left">
                            <p>{{ product.unit_weight | int_to_kilogram }}</p>
                        </div>
                        <div class="col-xs-4 col-sm-2" style="text-align: left; word-wrap: break-word">
                            {% for category in product.categories.all %}
                                <span style="display: inline-block; margin: 2px 0"  class="label label-info">{{ category.name | title }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-xs-4 col-sm-2" style="display: flex; justify-content: center">
                            <p onclick="getNext('{{ product.get_edit_url }}')" class="btn btn-info btn-xs" style="margin: auto"><span class="fa fa-edit"></span> EDIT</p>
                            <p onclick="window.open('{{ product.get_delete_url }}', '_parent')" class="btn btn-danger btn-xs" style="margin: auto"><span class="fa fa-trash"></span> DELETE</p>
                        </div>
                    </div>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- column -->
</div>