{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/')">Store</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/product/')">Product</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <div class="col-sm-12">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-12">
        <form id='addArticleForm' method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
            <div class="row">
                <!-- column -->
                <div class="col-xs-12 col-sm-9">
                    <div class="card">
                        <div class="card-body">
                            <h1>Add New Product</h1>
                            <hr>
                            <h4>{{ form.name.label }}</h4>
                            {{ form.name }}
                            <br>
                            <br>
                            <h4>{{ form.description.label }}</h4>
                            {{ form.description }}
                            <br>
                            <br>
                            <div class="row" style="margin:0">
                                <div class="col-xs-12 col-md-4">
                                    <h4>{{ form.categories.label }}</h4>
                                    <p class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/category/add/')">Add New Category</a></p>
                                    {{ form.categories }}
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <h4>{{ form.price.label }}</h4>
                                    {{ form.price }}
                                    <br>
                                    <br>
                                    <h4>{{ form.unit_weight.label }}</h4>
                                    {{ form.unit_weight }}
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <h4>{{ form.is_available.label }} <br> {{ form.is_available }}</h4>
                                    <br>
                                    <br>
                                    <h4>{{ form.is_archived.label }} <br> {{ form.is_archived }}</h4>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row" style="margin:0">
                                <div class="col-xs-4 col-md-4" style="padding:15px">
                                    <h6>{{ form.photo.label }}</h6> 
                                    {% if form.instance.get_photo_url %}
                                        <img src="{{ form.instance.get_photo_url }}" style="width:100%; display: block; margin: 5px 0; max-width:320px; height:auto">
                                    {% endif %}
                                    {{ form.photo }}
                                </div>
                                <div class="col-xs-4 col-md-4" style="padding:15px">
                                    <h6>{{ form.photo_alt1.label }}</h6>
                                    {% if form.instance.get_photo_alt1_url %}
                                        <img src="{{ form.instance.get_photo_alt1_url }}" style="width:100%; display: block; margin: 5px 0; max-width:320px; height:auto">
                                    {% endif %}
                                    {{ form.photo_alt1 }}
                                </div>
                                <div class="col-xs-4 col-md-4" style="padding:15px">
                                    <h6>{{ form.photo_alt2.label }}</h6>
                                    {% if form.instance.get_photo_alt2_url %}
                                        <img src="{{ form.instance.get_photo_alt2_url }}" style="width:100%; display: block; margin: 5px 0; max-width:320px; height:auto">
                                    {% endif %}
                                    {{ form.photo_alt2 }}
                                </div>
                            </div>
                            <div class="row" style="margin:0">
                                <div class="col-xs-4 col-md-4" style="padding:15px">
                                    <h6>{{ form.photo_alt3.label }}</h6>
                                    {% if form.instance.get_photo_alt3_url %}
                                        <img src="{{ form.instance.get_photo_alt3_url }}" style="width:100%; display: block; margin: 5px 0; max-width:320px; height:auto">
                                    {% endif %}
                                    {{ form.photo_alt3 }}
                                </div>
                                <div class="col-xs-4 col-md-4" style="padding:15px">
                                    <h6>{{ form.photo_alt4.label }}</h6>
                                    {% if form.instance.get_photo_alt4_url %}
                                        <img src="{{ form.instance.get_photo_alt4_url }}" style="width:100%; display: block; margin: 5px 0; max-width:320px; height:auto">
                                    {% endif %}
                                    {{ form.photo_alt4 }}
                                </div>
                                <div class="col-xs-4 col-md-4" style="padding:15px">
                                    <h6>{{ form.photo_alt5.label }}</h6>
                                    {% if form.instance.get_photo_alt5_url %}
                                        <img src="{{ form.instance.get_photo_alt5_url }}" style="width:100%; display: block; margin: 5px 0; max-width:320px; height:auto">
                                    {% endif %}
                                    {{ form.photo_alt5 }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="btn btn-primary" style="float:right; margin: auto" onclick="submitNewArticle()">SUBMIT</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>