{% load humanize %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/cms/')">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Brand Identity</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin: 0">
                    <div class="col-xs-10 col-sm-10" style="padding:0;text-align: left">
                        <h1>Brand Identity</h1>
                        <p>Semua konten di bagian ini akan ditampilkan pada semua halaman web</p>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <a href='javascript:void(0)' onclick="getNext('/cms/identity/edit/{{ configs.brand_identity.id }}/')">
                            <p class="btn btn-info">EDIT</p>
                        </a>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Name
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_name }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Tagline
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_tagline }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Address
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_address }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Email Address
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_email_address }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Phone Number
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_phone_number  }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Fax Number
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_fax_number  }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Facebook
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_facebook  }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Instagram
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_instagram  }}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-3">
                        Company Whatsapp
                    </div>
                    <div class="col-xs-12 col-sm-9" style="padding:0;text-align: left">
                        <p>{{ configs.brand_identity.company_whatsapp  }}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
</div>