{% load int_to_rupiah %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/')">Store</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/order/')">Order</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ data.order.order_number }}</li>
        </ol>
    </nav>
{% endblock %}


<div class="row">
    <div class="col-sm-12">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-12">
        <form id='addArticleForm' method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{token}}">
            <div class="row">
                <!-- column -->
                <div class="col-xs-12 col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <h3>Order No. : {{ data.order.order_number }}</h3>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <h4>{{ form.is_paid.label }} <br> {{ form.is_paid }}</h4>
                                    <br>
                                    <h4>{{ form.is_verified.label }} <br> {{ form.is_verified }}</h4>
                                    <br>
                                    <h4>{{ form.is_valid.label }} <br> {{ form.is_valid }}</h4>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <h4>Total Price</h4>
                                        
                                        <p>{{ data.order.total_price | int_to_rupiah }}</p>
                                    <h4>Discount</h4>
                                        
                                        <p>{{ data.order.discount | int_to_rupiah }}</p>
                                    <h4>Shipping Cost</h4>
                                        
                                        <p>{{ data.order.shipping_cost | int_to_rupiah }}</p>
                                    <h4>Total Payment</h4>
                                        
                                        <p>{{ data.order.total_payment | int_to_rupiah }}</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <h4>Customer</h4>
                                        <p>{{ data.order.costumer.username | title }}</p>
                                    <h4>Shipping Address</h4>
                                        <p>{{ data.order.alamat_tujuan | title }}</p>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <h4>Service</h4>
                                        
                                        <p>{{ data.order.service }}</p>
                                    <h4>Sub Service</h4>
                                        
                                        <p>{{ data.order.sub_service }}</p>
                                    <br>
                                    <p class="btn btn-primary" style="margin: auto" onclick="submitNewArticle()">SUBMIT</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>