{% load humanize int_to_rupiah %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="getNext('/str/')">Store</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order</li>
        </ol>
    </nav>
{% endblock %}

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin: 0">
                    <div class="col-xs-12 col-sm-12" style="text-align: left">
                        <h3>Order </h3>
                        <p>Total order: {{ site.order_site.all | length }}</p>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin: 0">
                    <div class="col-xs-4 col-sm-2" style="text-align: left">
                        <h6>Order Number</h6>
                    </div>
                    <div class="col-xs-4 col-sm-1" style="text-align: left">
                        <h6>Created Date</h6>
                    </div>
                    <div class="col-xs-4 col-sm-1" style="text-align: left">
                        <h6>Payment Date</h6>
                    </div>
                    <div class="col-xs-4 col-sm-1" style="text-align: left">
                        <h6>Customer</h6>
                    </div>
                    <div class="col-xs-2 col-sm-1" style="text-align: center">
                        <h6>Is Valid</h6>
                    </div>
                    <div class="col-xs-2 col-sm-1" style="text-align: center">
                        <h6>Is Paid</h6>
                    </div>
                    <div class="col-xs-2 col-sm-1" style="text-align: center">
                        <h6>Is Verified</h6>
                    </div>
                    <div class="col-xs-4 col-sm-4" style="text-align: left">
                        <h6>Total Payment </h6>
                    </div>
                </div>
                <hr>
                {% for order in site.order_site.all %}
                    <div class="row" style="margin: 0">
                        <div class="col-xs-4 col-sm-2" style="text-align: left">
                            <h6><a href="javascript:void(0)" onclick="window.open('{{order.get_detail_url}}')">{{order.order_number}}</a></h6>
                        </div>
                        <div class="col-xs-4 col-sm-1" style="text-align: left">
                            <h6>{{order.created_date|date:"j/n/Y"}}</h6>
                        </div>
                        <div class="col-xs-4 col-sm-1" style="text-align: left">
                            <h6>{{order.payment_date|date:"j/n/Y"}}</h6>
                        </div>
                        <div class="col-xs-4 col-sm-1" style="text-align: left">
                            <h6>{{order.costumer.username | title}}</h6>
                        </div>
                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                            {% if order.is_valid %}
                            <span class="text-success fa fa-check"></span>
                            {% else %}
                            <span class="text-danger fa fa-times"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                            {% if order.is_paid %}
                            <span class="text-success fa fa-check"></span>
                            {% else %}
                            <span class="text-danger fa fa-times"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-2 col-sm-1" style="text-align: center">
                            {% if order.is_verified %}
                            <span class="text-success fa fa-check"></span>
                            {% else %}
                            <span class="text-danger fa fa-times"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-4 col-sm-4" style="text-align: left">
                            <h6>{{order.total_payment | int_to_rupiah}} </h6>
                        </div>
                    </div>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- column -->
</div>